.pr{
    position:absolute;
    top:25%;
    right:10%;
}
.ph{
    width: 50px;
    height: 50px;
}
img.pg{
    width:50px;
    height: 50px;
} 
.a{
    position: absolute;
    bottom: 75%;

}
.txt{
    position: absolute;
    bottom: 20%;
    left: 12%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
.html{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 18%;
}
.css{
     width: 110px;
    height: 110px;
    position: absolute;
    top: 30%;
    left: 36%;
}
.js{
      width: 100px;
    height: 100px;
    position: absolute;
    top: 32%;
    left: 54%;
}
.react{
     width: 95px;
    height: 95px;
    position: absolute;
    top: 32%;
    left: 72%;
}
.java{
     width: 125px;
    height: 125px;
    position: absolute;
    top: 57%;
    left: 25%;
}
.spring{
      width: 85px;
    height: 80px;
    position: absolute;
    top: 62%;
    left: 45%;
}
.mysql{
      width:90px;
    height: 90px;
    position: absolute;
    top: 62%;
    left: 64%;
}
.calsi{
    width: 18rem;
    background-color: cornflowerblue;
    position: absolute;
    bottom: 25%;
    left: 15%;
}
.insta{
    width: 18rem;
    background-color: cornflowerblue;
    position: absolute;
    top: 20%;
    right: 15%;
}