.pr{
    position:absolute;
    top:25%;
    right:10%;
}
.ph{
    width: 50px;
    height: 50px;
}
img.pg{
    width:50px;
    height: 50px;
} 
.a{
    position: absolute;
    bottom: 75%;

}
.txt{
    position: absolute;
    bottom: 20%;
    left: 12%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 80px;
  padding: 0 60px;
}

.skill {
  text-align: center;
}

.skill img {
  width: 100px;
  height: 100px;
}

.skill h3 {
  margin-top: 10px;
}


.calsi{
    width: 18rem;
    background-color: cornflowerblue;
    position: absolute;
    bottom: 25%;
    left: 15%;
}
.insta{
    width: 18rem;
    background-color: cornflowerblue;
    position: absolute;
    top: 20%;
    right: 15%;
}