@media (max-width: 768px) {
  /* HOME SECTION */
  .pr {
    position: static;
    display: flex;
    justify-content: center;
    margin-top: 100px;

  }

  .pr img {
    width: 180px;
    height: 180px;
  }

  .name1 {
    position: static !important;
    text-align: center;
    margin-top: 70px;
  }

  .name1 h2,
  .name1 h3 {
    margin-left: 0 !important;
  }

  .name1 img {
    margin: 10px;
  }

  /* Resume button */
  button {
    position: static !important;
    margin: 30px auto;
    display: block;
  }


.d-flex{
     flex-direction: row;
    text-align: center;
   
}
 
  .a {
    position: static;
    text-align: center;
    margin-bottom: 140px;
  }

  .txt {
    position: static;
    width: 90%;
    margin-bottom: 170px;
    
    font-size: 16px;
    line-height: 1.6;
  }

 .sk .skills-grid{
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 0 20px;
  }

  .skill img {
    width: 80px;
    height: 80px;
  }

  .skill h3 {
    font-size: 14px;
  }

.calsi{
    background-color: cornflowerblue;
    position: static;
    margin-bottom: 250px;
   
}
.insta{
    width: 18rem;
    background-color: cornflowerblue;
    position: static;
    margin-top: 300px;
   
}



}