@media (max-width: 768px) {
  /* HOME SECTION */
  .pr {
    position: static;
    display: flex;
    justify-content: center;
    margin-top: 170px;

  }

  .pr img {
    width: 160px;
    height: 160px;
  }

  .name1 {
    position: static !important;
    text-align: center;
    padding-top: 10px;
  }

  .name1 h2,
  .name1 h3 {
    margin-left: 0 !important;
  }
  .bt{
    position: static !important;
    margin-top: 5px;
    margin-left: 2px;
  }

  .name1 img {
    margin: 10px;
  }

  /* Resume button */
  button {
    position: static !important;
    margin: 30px auto;
    display: block;
  }


.d-flex{
     flex-direction: row;
    text-align: center;
   opacity: 50%;
}
 
  .a {
    position: static;
    text-align: center;
    margin-bottom: 120px;
  }

  .txt {
    position: static;
    width: 90%;
    margin-bottom: 120px;
    
    font-size: 18px !important;
    line-height: 1.6;
  }

 .sk .skills-grid{
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 0 20px;
  }

  .skill img {
    width: 80px;
    height: 80px;
  }

  .skill h3 {
    font-size: 14px;
  }

.calsi{
    background-color: cornflowerblue;
    margin: 0 auto;
   
}
.insta{
    width: 18rem;
    background-color: cornflowerblue;
  margin-left: 50px;
    

}
.pro{
  display:block !important;
}
 section {
    scroll-margin-top: 80px;
  }
  div.bg-dark {
    min-height: 100dvh;
     height: auto;
     padding: 40px 15px;
     display: block;
  }
  /* Disable absolute positioning on mobile */

  .name1,
  button,
  .html, .css, .js, .react,
  .java, .spring, .mysql {
    position: static !important;
  }

}